<launch>
  <arg name="input_topic" default="/camera/rgb/image_raw" />
  <arg name="visualize" default="false" />

  <node name="mask_rcnn" pkg="mask_rcnn_ros" type="mask_rcnn_node.py" output="log">
    <remap from="~input" to="$(arg input_topic)" />
    <param name="~visualization" value="$(arg visualize)" />
  </node>
</launch>
